//Aquí creamos las clases para darle color al listado

.tol{
    --background: #000;
    --color: #52ffe4;
}

.contenedor{
    --background: #000;
    --color: #52ffe4;
}

ion-card-subtitle{
    --color: #FFF;

}


ion-card-title{
    --color: #fcff00;
}