<ion-header>
  <ion-toolbar class="HomeT">
    <ion-title>XANDER AUTOPARTS</ion-title>
    <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="backg"> 

  <ion-card>
    <ion-card-header>
      <ion-card-title>Marcas Frecuentes</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Volkswagen Scirocco" src="assets/imagenes/VkScirocco.jpg"/>
          </ion-thumbnail>
          <ion-label [routerLink]="['/volkswagen']">Volkswagen</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Mitsubishi Evo" src="assets/imagenes/Evo.jpg" />
          </ion-thumbnail>
          <ion-label [routerLink]="['/mitsubishi']">Mitsubishi </ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Skyline r35" src="assets/imagenes/r35azul.jpg" />
          </ion-thumbnail>
          <ion-label [routerLink]="['/nissan']">Nissan</ion-label>
        </ion-item>
  
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Toyota supra mk5" src="assets/imagenes/mk5azul.png" />
          </ion-thumbnail>
          <ion-label [routerLink]="['/toyota']">Toyota</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  

  <ion-card>
    <ion-card-header>
      <ion-card-title>Nosotros</ion-card-title>
      <ion-card-subtitle>Xander Ltda</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Bienvenido a Xander AutoParts, tu destino integral para todas tus necesidades de repuestos automotrices. En Xander AutoParts, nos enorgullece ser tu socio confiable en el mantenimiento y mejora de tu vehículo. Con un compromiso innegociable con la calidad y la satisfacción del cliente, nos esforzamos por ofrecer una amplia gama de repuestos automotrices de primera categoría. Nuestro equipo dedicado está aquí para proporcionarte asesoramiento experto y garantizar que encuentres los repuestos exactos que necesitas. En Xander AutoParts, estamos comprometidos a mantener tu viaje en la carretera de manera segura y eficiente. Descubre la calidad, confiabilidad y excelencia con Xander AutoParts, porque cada pieza cuenta en tu experiencia de conducción. ¡Conduce con confianza, elige Xander AutoParts!
    </ion-card-content>
  </ion-card>

</ion-content>
