<ion-header>
  <ion-toolbar class="tolbar">
    <ion-title>VOLKSWAGEN</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Capot</ion-card-title>
      <ion-card-subtitle>$250.000</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content><img src="assets/imagenes/capot.webp"/></ion-card-content>
  </ion-card>
  
  <ion-card color="secondary">
    <ion-card-header>
      <ion-card-title>Opticos</ion-card-title>
      <ion-card-subtitle>$450.000</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> <img src="assets/imagenes/opticos.jpg"/> </ion-card-content>
  </ion-card>
  
  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-title>Espejos</ion-card-title>
      <ion-card-subtitle>$65.000</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> <img src="assets/imagenes/espejos.jpg"/> </ion-card-content>
  </ion-card>
  
  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>Parachoques Delanteros</ion-card-title>
      <ion-card-subtitle>$130.000</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> <img src="assets/imagenes/parachoquedelantero.webp"/> </ion-card-content>
  </ion-card>
  
  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title>Parachoques Traseros</ion-card-title>
      <ion-card-subtitle>$100.000</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> <img src="assets/imagenes/parachoquetrasero.webp"/> </ion-card-content>
  </ion-card>
  
  <ion-card color="danger">
    <ion-card-header>
      <ion-card-title>Bodykit</ion-card-title>
      <ion-card-subtitle>$175.000</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> <img src="assets/imagenes/bodykit.jpg"/> </ion-card-content>
  </ion-card>
  
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Focos</ion-card-title>
      <ion-card-subtitle>$75.000</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> <img src="assets/imagenes/focos.webp"/> </ion-card-content>
  </ion-card>
  
  <ion-card color="medium">
    <ion-card-header>
      <ion-card-title>Maletas</ion-card-title>
      <ion-card-subtitle>$125.000</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> <img src="assets/imagenes/maleta.webp"/> </ion-card-content>
  </ion-card>
  
  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title>Amortiguadores</ion-card-title>
      <ion-card-subtitle>$45.000</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> <img src="assets/imagenes/amortiguadores.jpg"/> </ion-card-content>
  </ion-card>
</ion-content>
